section.about#about
    .container.container_about.about__wrapper
        .about__section.about__image-container
            .about__image-wrapper
                img.about__image(
                    src="./assets/images/me.jpg", alt="Моя фотография",
                    width="300",
                    height="300"
                )
                img.about__image.about__image_hover(
                    src="./assets/images/me-hover.jpg", alt="Моя фотография",
                    width="300",
                    height="300"
                )
        .about__section.about__text
            h2.heading.heading_about #[span.accent Обо мне]
            p.paragraph.paragraph_about.
                Здравствуйте! Меня зовут Матвеев Юрий, я живу в Санкт-Петербурге
                и изучаю фронтенд-разработку.
            p.paragraph.paragraph_about
                . 
                    Закончил курс профессиональной переподготовки "Разработка веб-приложений" 
                    на базе СПбГУПТД,
                    в настоящее время учусь по программе "Фронтенд-программист" в
                    GeekBrains. Прошёл курс 
                a.link.link_underline(
                    href="https://www.freecodecamp.org/certification/yuri-m/javascript-algorithms-and-data-structures",
                    target="_blank") JavaScript Algorithms and Data Structures
                | 
                .
                    от freeCodeCamp.
            p.paragraph.paragraph_about Владею английским языком.
            .paragraph.paragraph_about
                | Умею работать с:
                ol.paragraph.paragraph_about.paragraph_list
                    li.paragraph_list-item.
                        #[i.fa-brands.fa-html5.accent.accent_list-item] HTML,
                        Pug,
                    li.paragraph_list-item.
                        #[i.fa-brands.fa-css3.accent.accent_list-item] CSS,
                        #[i.fa-brands.fa-sass.accent.accent_list-item] Sass,
                    li.paragraph_list-item.
                        #[i.fa-brands.fa-js.accent.accent_list-item] JavaScript,
                        TypeScript,
                    li.paragraph_list-item.
                        #[i.fa-brands.fa-git-alt.accent.accent_list-item] Git,
                        #[i.fa-brands.fa-github.accent.accent_list-item] GitHub,
                    li.paragraph_list-item.
                        #[i.fa-brands.fa-npm.accent.accent_list-item] npm,
                        #[i.fa-brands.fa-gulp.accent.accent_list-item] Gulp,
                        Vite
                    li.paragraph_list-item.
                        #[i.fa-brands.fa-react.accent.accent_list-item] React,
                        #[i.fa-brands.fa-vuejs.accent.accent_list-item] Vue,
                        jQuery.