section.portfolio#portfolio
    .container
        h2.heading.heading_portfolio #[span.accent Портфолио]
        .portfolio__pages-wrapper
            -
                const images = './assets/images/';
                const a = (href, text) => `<a class="link link_underline"
                    href="${href}"
                    target="_blank">${text}</a>`;
                const p = (text) => `<div class="portfolio-page__paragraph
                    paragraph paragraph_portfolio">${text}</div>`;
                const pages = [
                    {
                        src: images + 'interno.png',
                        alt: 'Итоговый проект по курсу технической специализации в GeekBrains',
                        text: p(`${a(
                            'https://gb-vue-interior-design.netlify.app/', 'Итоговый проект'
                        )} по курсу технической специализации
                        в GeekBrains и ${
                            a('https://github.com/yurisdraughts/gb-vue', 'его исходный код')
                        }.`)
                        + p(`Сайт делался на основе ${a(
                            "https://www.figma.com/file/okdYD45Tj2JpKsNASccUmf/Interior-Design-Webflow-Website-Template-(Community)-(Copy)-(Copy)?node-id=101%3A14&mode=dev",
                            "макета в Figma"
                        )}.`)
                        + p(`Использовались: Vue 2, Vue CLI, Vuex, Vue Router, Sass и Netlify.`),
                        imgHeight: 160
                    },
                    {
                        src: images + 'rgou.png',
                        alt: 'Браузерная игра на основе "Игры двадцати квадратов"',
                        text: p(`Дипломный проект в GeekBrains: ${
                            a('https://20-squares-app.netlify.app/', 'браузурная игра')
                        } на основе ${a(
                            'https://ru.wikipedia.org/wiki/%D0%A6%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F_%D0%B8%D0%B3%D1%80%D0%B0_%D0%A3%D1%80%D0%B0',
                            '"Игры двадцати квадратов"'
                        )} и ${a('https://github.com/yurisdraughts/20-squares-app', 'её исходный код')}.`)
                        + p(`Использовались: React, Vite, Redux Toolkit, TypeScript, Sass и Netlify.`),
                        imgHeight: 169
                    },
                    {
                        src: images + 'mealdb.png',
                        alt: 'Приложение с рецептами',
                        text: p(`${a(
                            'https://timely-sunshine-f3f0f4.netlify.app/',
                            'Приложение с рецептами'
                        )} на основе API сайта ${a(
                            'https://www.themealdb.com/',
                            'TheMealDB'
                        )} и его ${a(
                            'https://github.com/yurisdraughts/mealdb-react-app',
                            'исходный код'
                        )}.`)
                        + p(`Использовались: React, Vite, React Router, Sass и Netlify.`),
                        imgHeight: 137
                    },
                    {
                        src: images + 'arcanes.png',
                        alt: '"Нулевые" блоки на Тильде',
                        text: p(`"Нулевые" блоки для сайта на Тильде.
                        Страницы с блоками не находятся в открытом доступе,
                        тем не менее два из них можно увидеть на CodePen-е по ссылкам:
                        ${a(
                            "https://codepen.io/yurisdraughts/pen/KKxKdEp",
                            '"Психологический портрет"'
                        )} и ${a(
                            "https://codepen.io/yurisdraughts/pen/zYJoGPY",
                            '"Матрица души"'
                        )}.`)
                        + p(`Использовались: Sass и Gulp.`)
                    },
                    {
                        src: images + 'contact_manager.png',
                        alt: 'Менеджер контактов',
                        text: p(`${a(
                            "https://yurisdraughts.github.io/contact-manager/",
                            '"Менеджер контактов"'
                        )} и его ${a(
                            "https://github.com/yurisdraughts/contact-manager",
                            "исходный код"
                        )}.`)
                        + p(`Также есть ${a(
                            "https://yurisdraughts.github.io/contact-manager-jquery/",
                            "версия на jQuery"
                        )}, исходный код которой доступен ${a(
                            "https://github.com/yurisdraughts/contact-manager-jquery",
                            "по ссылке"
                        )}.`)
                        + p(`Использовались: Vue и Sass в первой версии;
                        jQuery, Sass и Gulp во второй.`),
                        imgHeight: 145
                    },
                    {
                        src: images + 'portfolio.png',
                        alt: 'Сайт-портфолио',
                        text: p(`${a(
                        "https://github.com/yurisdraughts/portfolio-site",
                        "Исходный код сайта-портфолио"
                        )}, на котором вы сейчас находитесь.`)
                        + p(`Использовались: Pug и Sass, а также Vue для игры в крестики-нолики;
                            позднее был добавлен Gulp.`),
                        imgHeight: 110
                    },
                    {
                        src: images + 'worldskills.png',
                        alt: 'Сайт, сделанный на курсе "Разработка веб-приложений"',
                        text: p(`${a(
                            "http://yurisdraug.temp.swtest.ru/",
                            "Сайт"
                        )}, сделанный на курсе "Разработка веб-приложений"
                        и его ${a(
                            "https://github.com/yurisdraughts/worldskills-final-project",
                            "исходный код"
                        )}.`)
                        + p(`Использовались: jQuery, а также PHP, MySQL и OpenServer
                            для создания несложного бэкенда.`),
                        imgHeight: 129
                    }
                ];
            each page in pages
                .portfolio__page.portfolio-page
                    img(src=page.src, alt=page.alt,
                    width="300", height=page.imgHeight).portfolio-page__image
                    | !{page.text}